#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5rem;
}

.maze {
  height: 30.15rem;
  width: 30.15rem;
  background: rgb(255, 255, 255);
}

.mazeRow {
  height: 3rem;
  width: 30.15rem;
  display: flex;
  flex-direction: row;
}

.mazeElement {
  height: 3rem;
  width: 3rem;
  border: 0.15rem solid purple;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createMazeButton {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  height: 5rem;
  width: 20rem;
  font-size: 1.5em;
  border-radius: 20px;
  border: 0.15rem solid white;
  background-color: inherit;
  color: white;
  text-align: center;
  transition: 0.4s;
}
.createMazeButton:hover {
  transform: translateY(5px);
}
.createMazeButton:focus,
.createMazeButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
